@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  box-sizing: inherit;
}

:focus {
  outline: 2px solid #00709f;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  color: #333;
  font-family: Roboto, sans-serif;
  line-height: 1.6;
}

button {
  padding: .5em .75em;
  border: 0;
  color: #fff;
  font-weight: bold;
  background-color: #00709f;
}

button:hover {
  background-color: #00709f;
}

a {
  color: #00709f;
  text-decoration: underline;
  text-decoration-skip: ink;
}

a:hover {
  color: #000;
  text-decoration: underline dotted;
}

.container {
  max-width: 42em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.chart__line {
  fill: none;
  stroke: #00709f;
  stroke-width: 2;
}

.chart__line-value {
  fill: #00709f;
}

.chart__line-point {
  fill: #00709f;
}

.chart__value {
  fill: #fff;
  font-weight: bold;
}

.text-middle {
  text-anchor: middle;
}

.expandable-list--collapsed li:nth-child(n+10) {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid__item {}

.grid__item--start {
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid__item--end {
  grid-column-start: 2;
  grid-column-end: 3;
}
