<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fronteers attendees</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>

<main class="container">
  <h1>A list of all Fronteers attendees</h1>

  <svg class="js-chart-container"></svg>
</main>

<script src="/assets/scripts/main.js"></script>

</body>
</html>
