<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fronteers attendees</title>

  <link rel="canonical" href="https://timseverien.github.io/fronteers-attendees/">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="assets/styles/main.css">
</head>
<body>

<main class="container">
  <h1>The Attendees of Fronteers Conference</h1>

  <h2>Number of attendees per year</h2>
  <svg class="chart js-chart-attendees"></svg>

  <h2>Returning attendees</h2>
  <ol class="js-list-top-attendees" data-label-expand="Show all" data-label-collapse="Show less"></ol>

  <h2>First name ordered by popularity</h2>
  <ol class="js-list-top-first-names" data-label-expand="Show all" data-label-collapse="Show less"></ol>
</main>

{{> fork-me }}

{{> footer }}

<script src="assets/scripts/main.js"></script>

</body>
</html>
